*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --ff-primaryy : "Source Sans Pro", sans-serif;
    --ff-secondary : "Source Sans Pro" monospace;

    --fw-reg : 300;
    --fw-bold: 900;
    
    --clr-light:#ffff;
    --clr-dark:#303030;
    --clr-accent: #16e0bd;


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}


@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* Gerneral Styles */

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin:0;
    font-family: var(--ff-primaryy);
    line-height: 1.6;
    font-size: var(--fs-body);
}

img{
    display:block;
    max-width: 100%;
}
.btns{
    padding:.53em 2.5em;
    display:inline-block;
    background: var(--clr-accent);
    color: var(--clr-light);
    cursor: pointer;
    margin:auto;
    text-decoration: none;
    border-radius: 1px 1px 1px 1px;
    font-size:.9em;
    text-transform:uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}
.btns:hover{
    transform : scale(1.1);
    background:var(--clr-light);
    color:var(--clr-accent)
}
/* Typography */
section{
    padding:5rem 2rem;
}
.intro-image{
    box-shadow: (--bs);
}

h1,
h2,
h3{
    line-height: 1;
    margin:0;
}

h1{font-size: var(--fs-h1)}
h2{font-size: var(--fs-h2)}
h3{font-size: var(--fs-h3)}


.section-title{
    margin-bottom: .25rem;
}

.intro-name{
    font-weight: var(--fw-reg);
    font-size: 3em;

}
.intro-name strong{
    display:block;
    font-weight: var(--fw-bold);
}
.section-subtitle{
    margin:0;
    font-style: var(--fs-h3);
}

.section-subtitle-intro,
.section-subtitle-aboutme{
    background:var(--clr-accent);
    padding:.25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom:1rem;
}
#navigations{
    display:none;
}
@media (min-width:600px){
    .Intro{
        display: grid;
        width:min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
            grid-template-columns: min-content max-content;
    }
    #intro-image{
        grid-area:img;
        min-width: 250px;
        position: relative;
    }
    .section-subtitle-intro{
        align-self: start;
        grid-column:-1/1;
        grid-row: 2;
        position: relative;
        left:-1.5em;
        z-index: -1;
        text-align: right;
        width: calc(100% + 1.5em);
    }
}

/* what i do section */
.my-service{
    background-image: url(../Portfolio/Images/services-bg.jpg);
    background-size: cover;
    color: white;
    text-align:right;
    background-color: var(--clr-dark);
    text-align: center;

}
.service-heading{
    position: relative;
    color:var(--clr-accent);
}

.service-heading::after{
    content:'';
    display: block;
    width: 2.3em;
    height: 2px;
    background: rgb(189, 186, 186);
    margin: 0.5em auto 1em;
    opacity: .67;
}
.service-lists{
    max-width: 500px;
    margin:0 auto;
}

.service-section{
    margin-bottom: 3em;
}


@media (min-width:800px){
    .service-section{
        display: flex;
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }
    .service-lists + .service-lists {
        margin-left: 2em;
    }
}

/* Who I AM */

.about-me{
    min-width: 1000px;
    margin : 0 auto;
}

.about-me img{
    box-shadow: var(--bs);
}

@media (min-width:600px){
    .about-me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "title img"
            "subtitle img"
            "text img";
            grid-column-gap: 2em;
    }
    .section-title-aboutme{
        grid-area: title;
        text-align: center;
    }
    .section-title-aboutme::after{
        content:'';
        display: block;
        width: 2.3em;
        height: 2px;
        background: rgb(189, 186, 186);
        margin: 0.2em auto 1.5em;
        opacity: .67;
    }
    .section-subtitle-aboutme{
        grid-column: 1/-1;
        grid-row:2;
        position: relative;
        left:-1em;
        width:calc(100% + 2em);
        padding-left: 1em ;
        padding-right: calc(100% +4em);
    }
    .about-me img{
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}
/* my work */

.my-work{
    background: var(--clr-dark);
    color : white;
    text-align: center;
}
