*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --ff-primaryy : "Source Sans Pro", sans-serif;
    --ff-secondary : "Source Sans Pro" monospace;

    --fw-reg : 300;
    --fw-bold: 900;
    
    --clr-light:#ffff;
    --clr-dark:#303030;
    --clr-accent: #636e72;


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}


@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* Gerneral Styles */
html{
    scroll-behavior: smooth;
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin:0;
    font-family: var(--ff-primaryy);
    line-height: 1.6;
    font-size: var(--fs-body);
}

img{
    display:block;
    max-width: 100%;
}
.btns{
    padding:.53em 2.5em;
    display:inline-block;
    background: var(--clr-accent);
    color: var(--clr-light);
    cursor: pointer;
    margin:auto;
    text-decoration: none;
    border-radius: 1px 1px 1px 1px;
    font-size:.9em;
    text-transform:uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}
.btns:hover{
    transform : scale(1.1);
    background:var(--clr-light);
    color:var(--clr-accent)
}
/* Typography */
section{
    padding:5rem 2rem;
}
.intro-image{
    box-shadow: (--bs);
}

h1,
h2,
h3{
    line-height: 1;
    margin:0;
}

h1{font-size: var(--fs-h1)}
h2{font-size: var(--fs-h2)}
h3{font-size: var(--fs-h3)}


.section-title{
    margin-bottom: .25rem;
}
.Intro{
    position: relative;
}
.intro-name{
    font-weight: var(--fw-reg);
    font-size: 4em;
}
.move-text{
    position: relative;
    left: -100px;
}
.intro-name strong{
    display:block;
    font-size: 1em;
    font-weight: var(--fw-bold);
}
.section-subtitle{
    margin:0;
    font-style: var(--fs-h3);
}

.section-subtitle-intro,
.section-subtitle-aboutme{
    background:var(--clr-accent);
    text-transform: uppercase;
    color:yellow;
    padding:.25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom:1rem;
    font-weight: bold;
}

/* TODO : MOBILE VIEW */
@media (max-width:600px){
    .move-text{
        position: relative;
        top:0;
        bottom: 0;
        left: 0px;
    }
    .alias-logo{
        position: relative;
        top:2em;
        bottom: 0;
        right: 2em;
    }
    button{
        position: relative;
        top:2em;
        left: 2em;
        border: 2px solid green;
        background-color:black;
    }
    .nav-open .nav{
        transform: translateX(0);
    }
}


@media (min-width:600px){
    .Intro{
        display: grid;
        width:min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
            grid-template-columns: min-content max-content;
    }
    #intro-image{
        grid-area:img;
        min-width: 250px;
        position: relative;
        box-shadow: var(--bs);
    }
    .section-subtitle-intro{
        align-self: start;
        grid-column:-1/1;
        grid-row: 2;
        position: relative;
        left:-1.5em;
        z-index: -1;
        text-align: right;
        width: calc(100% + 1.5em);
    }
}

.btn-style{
    position: relative;
    left : 96%;
    top : -49px;
    width: 3em;
    height: 1em;
    background: transparent;
    padding :.5em;
    right: 1em;
    z-index: 1000;
    /* border: 2px solid blue; */
    /* z-index: 100000; */
}
.nav-open .nav{
    transform: translateX(100);
    visibility: visible;
}
.nav-open .alias-logo{
    position:fixed;
}
.nav-open .alias-logo{
    transform: rotate(.635turn);
    background: white;
}
.nav-open .alias-logo::after{
    transform: rotate(90deg) translateX(-6px);
    background: white;
}
.nav-open .alias-logo::before{
    background:yellow;
}
.nav{visibility: hidden;}

.logo{
    max-width: 12em;
}
header{
    display: flex;
    justify-content: space-between;
    padding:1em;
}
.nav{
    background: #000;
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    color:red;
    z-index: 100;
    transform:  translateX(80%);
    transition: transform 250ms  cubic-bezier(.5 ,0,.5,1);

}
.nav-item{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    color : yellow;
    align-items: left;
    padding: 0;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;

    
}
.nav-items{
    margin-left: 5%;
}
.nav-items:hover{
    text-decoration: underline;
    color : white;
}


/*TODO : ALIAS LOGO*/

.alias-logo{
    
    display: block;
    position: relative;
}
.alias-logo,
.alias-logo::after,
.alias-logo::before{
    width: 2em;
    height: 2.3px;
    background: var(--clr-dark);
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
    
}

.alias-logo::after,
.alias-logo::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.alias-logo::after{top:4px;}
.alias-logo::before{bottom: 4px;}

/* what i do section */
.my-service{
    background-image: url(../Portfolio/Images/services-bg.jpg);
    background-size: cover;
    color: white;
    text-align:right;
    background-color: var(--clr-dark);
    text-align: center;

}
.service-heading{
    position: relative;
    color:var(--clr-accent);
}

.service-heading::after{
    content:'';
    display: block;
    width: 2.3em;
    height: 2px;
    background: rgb(189, 186, 186);
    margin: 0.5em auto 1em;
    opacity: .67;
}
.service-lists{
    max-width: 500px;
    margin:0 auto;
}

.service-section{
    margin-bottom: 3em;
}

@media (min-width:800px){
    .service-section{
        display: flex;
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }
    .service-lists + .service-lists {
        margin-left: 2em;
    }
}

/* Who I AM */

.about-me{
    min-width: 100px;
    margin : 0 auto;
}

.about-me img{
    box-shadow: var(--bs);
}

@media (min-width:600px){
    .about-me{
        width: 1000px;
        font-size: 1.2em;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "title img"
            "subtitle img"
            "text img";
            grid-column-gap: 2em;
    }
    .section-title-aboutme{
        grid-area: title;
        text-align: center;
    }
    .section-title-aboutme::after{
        content:'';
        display: block;
        width: 2.3em;
        height: 2px;
        background: rgb(189, 186, 186);
        margin: 0.2em auto 1.5em;
        opacity: .67;
    }
    .section-subtitle-aboutme{
        grid-column: 1/-1;
        grid-row:2;
        position: relative;
        left:-1em;
        width:calc(100% + 2em);
        padding-left: 1em ;
        padding-right: calc(100% +4em);
    }
    .about-me img{
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}
/* TODO: my work */

.my-work{
    background: var(--clr-dark);
    color : white;
    text-align: center;
}

.fa-exclamation-triangle{
    font-size: 3.7em;
    color:yellow;
}

/* TODO : FOOTER WORK */
footer{
    background:#111;
    font-size:var(--fs-h3);
    /* font-weight: bold; */
    padding:2.5em 0;
    text-align: center;
    color :var(--clr-accent);
}
.footer-link{
    font-weight: bold;
}

footer a{
    text-decoration: none;
    color : inherit;
}
.footer-link:hover{
    text-decoration: underline;
}
.footer-link,
.social-link:hover{
    opacity: .7;
}

.social-list{
    margin  : 0 1em;
    
}
.social{
    list-style : none;
    display: flex;
    padding:0;
    justify-content: center;
    margin:2em 0 0;
}


.telegram{
    display: block;
}
.telegram:hover{
    color:#1da1f2;
    /* transform: scale(1.1); */
}
.twitter:hover{
    color:#1da1f2;
}
.instagram:hover{
    color:#c32aa3;
    transform: scale(1.1);

}
.linkedin:hover{
    color:#007bb5;
}
.github:hover{
    color:#333;
}

.footer-link:hover{
    color:	#c71610;
}

.Top{
    display: inline-block;
    position: relative;
    left: 15em;
    font-weight: bold;
    color : rgb(223, 213, 213);
}
.Top:hover,
.top-icon:hover{
    color:white;
    visibility: visible;

}

.top-icon{
    display:inline-block;
    position: relative;
    left: 15.5em;
    top: 2px;
}
